main {
    min-height: calc(100vh - 160px);
    background-color:darkseagreen;
    
  }
  
  h1 {
    color: #ffffff; 
    
  }
  .btn-custom {
    background-color: #28a745; 
    color: white; 
    border: none; 
}

.btn-custom:hover {
    background-color: #218838; 
    color: white;
}

p  {
  color: rgb(90, 94, 90);
} 

a {
  color: #6dff33;
  text-dergb(51, 255, 0); 
}

a:hover {
  color: #00c74c; 
  text-decoration: underline; 
}


input[type="search"] {
  border: 2px solid #6dff33; 
  border-radius: 5px; 
  padding: 10px; 
  outline: none; 
}

input[type="search"]:hover {
  border-color: #00c74c; 
  outline: none;  
}

input[type="search"]:focus {
  border-color: #50a728; 
  outline: none;  
}